body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: black;
  margin: 0;
  padding: 0;
  height: 15%;
}


.background_image {
  position: absolute;
  left: 0px;
  top: 0px;
 
}
.rei_body_image {
  position: relative;
  margin: -8px;
}
.rei_eye_image {
  position: relative;
  margin: -8px;
  left: -278px;
  top: -435px;
}
.rei_mouth_image {
  position: relative;
  margin: 42px;
  left: -406px;
  top: -355px;
}

.foreground_image {
  position: absolute;
  left: 0px;
  top: 0px;
  visibility: hidden;
}
.weatherreport_box {
  position: absolute;
  left: 0;
  top: 610px;
}
.weatherbox_flex{
  position: relative;
  left: 78px;
  top: -1030px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  pointer-events:none;
}
.weatherreport_icon {
  width:42px;
  height:42p;
}

.flex-container2 {
  position: relative;
  display: flex;
  flex-direction: column;
  
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.rei_chatbox_small{
  	position: relative;
	left: 42px;
    bottom: 225px;
	visibility: hidden;
}
.textboxsmall_text{
  position: relative;
  left: 10px;
  bottom: 95px;
  width: 365px;
  font-size: 0.65em;
}
.rei_chatbox_small_bg{
  position: relative;
}

.borderstrip{
  position: relative;
  top: -1560px;
  left: -8px;
   z-index: 1;
}
.borderstripline{
  position: relative;
  top: -1600px;
  left: -500px;
  z-index: 1;
}
.settings_button{
  position: relative;
  top: -1490px;
  left: -980px;
  z-index: 0;
}
.gps_button{
  position: relative;
  top: -1490px;
  left: -655px;
  z-index: 0;
}
.info_button{
  position: relative;
  z-index: 0;
  top: -1400px;
  left: -1145px;
  width: 141px;
  height: 111px;
}
.info_weather{
  position: relative;
  z-index: 0;
  top: -1220px;
  left: -1290px;
}