body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: black;
  margin: 0;
  padding: 0;
  height: 15%;
}


.background_image {
  position: absolute;
  left: 0px;
  top: 0px;
 
}
.rei_body_image {
  position: relative;
  margin: -8px;
}
.rei_eye_image {
  position: relative;
  margin: -8px;
  left: -278px;
  top: -435px;
}
.rei_mouth_image {
  position: relative;
  margin: 42px;
  left: -406px;
  top: -355px;
}

.foreground_image {
  position: absolute;
  left: 0px;
  top: 0px;
  visibility: hidden;
}
.weatherreport_box {
  position: absolute;
  left: 0;
  top: 610px;
}
.weatherreport_icon {
  width:42px;
  height:42p;
}
.flex-container {
  position: relative;
  left: 78px;
  #bottom: 105px;
  top: -105px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  #align-content: space-around;
  
}
.flex-container2 {
  position: relative;
  display: flex;
  flex-direction: column;
  
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.rei_chatbox_small{
  	position: relative;
	left: 42px;
    bottom: 350px;
	visibility: hidden;
}
.textboxsmall_text{
  position: relative;
  left: 10px;
  bottom: 95px;
  width: 365px;
  font-size: 0.65em;
}
.rei_chatbox_small_bg{
  position: relative;
}